body > .container > .add-citizen {
  position: fixed;
  background-color: #00000073;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  > .form {
    position: relative;
    width: 400px;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 9px;
    margin: auto;
    height: fit-content;
    font-size: 15px;
    margin-top: 50px;
    display: table;
    > .header {
      position: relative;
      float: left;
      height: 40px;
      border-bottom: 1px solid #eee;
      line-height: 40px;
      width: 100%;
      padding-left: 14px;
      box-sizing: border-box;
      > .close {
        position: absolute;
        width: 24px;
        height: 24px;
        top: 8px;
        right: 8px;
        cursor: pointer;
      }
    }
    .body {
      position: relative;
      float: left;
      width: 100%;
      padding-right: 50px;
      padding-left: 50px;
      padding-top: 20px;
      box-sizing: border-box;
      display: block;
      > .row {
        position: relative;
        float: left;
        width: 100%;
        box-sizing: border-box;
        padding-bottom: 8px;
        display: block;
        > .label {
          width: 100%;
          position: relative;
          float: left;
          line-height: 22px;
          margin-bottom: 6px;
        }
        > .textbox {
          width: 100%;
          position: relative;
          float: left;
          line-height: 30px;
          border: 1px solid #d4d4d4;
          border-radius: 6px;
          background-color: #f5f5f5;
          padding-left: 10px;
        }
        > .error {
          width: 100%;
          position: relative;
          float: left;
          line-height: 22px;
          margin-bottom: 0px;
          font-size: 12px;
          color: red;
          &.false {
            opacity: 0;
          }
        }
      }
    }
    > .footer {
      position: relative;
      float: left;
      height: 60px;
      line-height: 40px;
      width: 100%;
      padding-left: 14px;
      box-sizing: border-box;
      margin-top: 16px;
      > .submit {
        position: absolute;
        float: right;
        width: fit-content;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
