body > .container > .note {
  position: fixed;
  background-color: #00000073;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: 150ms all;
  &.show {
    opacity: 1;
    pointer-events: auto;
    > .form {
      margin-top: 50px;
    }
  }
  > .form {
    position: relative;
    width: 400px;
    background-color: #fff8a2;
    box-sizing: border-box;
    border-radius: 9px;
    margin: auto;
    height: fit-content;
    font-size: 15px;
    display: table;
    transition: all 150ms;
    margin-top: 0px;
    > .header {
      position: relative;
      float: left;
      height: 40px;
      border-bottom: 1px solid #ece597;
      line-height: 40px;
      width: 100%;
      padding-left: 14px;
      box-sizing: border-box;
      > .close {
        position: absolute;
        width: 24px;
        height: 24px;
        top: 8px;
        right: 8px;
        cursor: pointer;
      }
    }
    .body {
      position: relative;
      float: left;
      width: 100%;
      padding-right: 50px;
      padding-left: 50px;
      padding-top: 20px;
      box-sizing: border-box;
      display: block;
      min-height: 150px;
    }
    > .footer {
      position: relative;
      float: left;
      height: 60px;
      line-height: 40px;
      width: 100%;
      padding-left: 14px;
      box-sizing: border-box;
      margin-top: 16px;
      > .submit {
        position: absolute;
        float: right;
        width: fit-content;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
